h1 { 
    
    color: green;
}
*{
    background-color: rgb(230, 230, 171);
    font-style: italic;

}
.Intro{ 
    font-size: large;
    color: navy;
        
}
 .OT {
    width: 400px;
    }
   .quote{ 
    color: rgb(73, 23, 33);
    width: 200px;
   }
.note
{color: rgb(129, 81, 46);}
